

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;

}

.calendar__picture {
  position: relative;
  height: 200px;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Изменяем на нужный уровень прозрачности */
  z-index: 1; /* Устанавливаем поверх картинки */
}
.calendar__header {
 position: relative; z-index: 1;
}
.calendar__picture__page {
  position: relative;
  height: 300px;
  padding: 70px;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar__picture__page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Изменяем на нужный уровень прозрачности */
  z-index: 1; /* Устанавливаем поверх картинки */
}

.calendar__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.calendar a {
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}
.calendar_font {
  margin: 0;
  font-weight: 500;
  text-shadow: 1px 1px 1px #000000;
}

.calendar__date {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
  position: relative; z-index: 1;
}
.calendar__time {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
  justify-content: end;
  position: relative; z-index: 1;
}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
}

.calendar__number--current, .calendar__number:hover {
  background-color: #2ED9C3;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}

.calendar__number--selected, .calendar__number:hover {
  background-color: #FF671D;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}
.calendar__top {
    display: flex;
    align-items: center;
}

.calendar__time {
    margin-left: 100px;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 100%;
	background-color: #19D3C5;
}


.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 19px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
	color: #ffffff;
	margin-bottom: 10px;
	margin-top: 20px;
}

.calendar .notes input{
	background-color: #19D3C5;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .leftCol h1{
	color: #ffffff;
	margin-bottom: 60px;
}

.calendar .rightCol{
	width: 70%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .weekday,

.calendar .weekday{

	font-size: 21px;
	color: #747978;
}

.calendar .days li .event{
	color: #FF671D;
}

.calendar .event{
	color: #19D3C5;
}
.calendar .today{
	color: #FF671D;
}

.calendar .dark{
filter: brightness(40%)
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }


.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 31px;
	line-height: 100px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}
.calendar h1 span{
	display: block;
}

