

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;

}

.calendar__picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar__picture__page {
  position: relative;
  height: 500px;
  padding: 70px;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calendar__picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.calendar a {
  font-size: 30px;
  color: #2ED9C3;
  text-shadow: 1px 1px 1px #000000;
}
.calendar_font {
  margin: 0;
  font-weight: 500;
  color: #FF671D;
  text-shadow: 1px 1px 1px #000000;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
}

.calendar__number--current, .calendar__number:hover {
  background-color: #2ED9C3;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}

.calendar__number--selected, .calendar__number:hover {
  background-color: #FF671D;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}
