/* not required */
*,:active{
	outline: none;
}
*{
	padding: 0px;
	margin: 0px;
}




/* required */
.calendar{
	border-radius: 4px;
	overflow: hidden;
	background-color: #ffffff;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;



	
}
.calendar a{
		text-decoration: none;
		color: #ffffff;
}

.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 31px;
	line-height: 100px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 100%;
	background-color: #19D3C5;
}


.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 19px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
	color: #ffffff;
	margin-bottom: 10px;
	margin-top: 20px;
}

.calendar .notes input{
	background-color: #19D3C5;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .leftCol h1{
	color: #ffffff;
	margin-bottom: 60px;
}

.calendar .rightCol{
	width: 70%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .weekday,

.calendar .weekday{

	font-size: 21px;
	color: #747978;
}

.calendar .days li .event{
	color: #FF671D;
}

.calendar .event{
	color: #19D3C5;
}
.calendar .today{
	color: #FF671D;
}

/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }