{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="animsition">

<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">

    </div>
</div>

<!-- Page heading -->
<div class="container p-t-4 p-b-35">
    <h2 class="f1-l-1 cl2">
        О спортивном клубе FAURI
    </h2>
</div>

<!-- Content -->
<section class="bg0 p-b-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <p class="f1-s-11 cl6 p-b-25">
                        Мы - команда опытных спортсменов, которые любят приключения и здоровый образ жизни. Мы
                        увлекаемся спортивным ориентированием уже много лет и знаем все тонкости этой увлекательной
                        дисциплины. </p>

                    <p class="f1-s-11 cl6 p-b-25">
                        Наш клуб был основан несколько лет назад с целью объединить людей, которые любят ориентироваться
                        в мире. Мы проводим тренировки и соревнования для людей разных уровней подготовки - от
                        начинающих до профессионалов. У нас есть группы для детей и взрослых, для любителей и для тех,
                        кто стремится к достижению высоких результатов. </p>

                    <p class="f1-s-11 cl6 p-b-25">
                        Мы заботимся о нашей команде и предлагаем ее членам профессиональную поддержку и обучение, а
                        также возможности для участия в национальных и международных соревнованиях.

                        Наша команда состоит из людей разных профессий и возрастов, но у нас есть общая цель - стать
                        лучшими в своей области. Мы работаем над совершенствованием своих навыков и призываем других к
                        этому же.

                        Мы уверены, что спортивное ориентирование - это увлекательный спорт, который помогает нам
                        развиваться и находить новые грани возможностей. Присоединяйтесь к нам и станьте частью нашей
                        команды, чтобы испытать восторг от приключений и достичь высоких результатов вместе с нами! </p>

                    <p class="f1-s-11 cl6 p-b-25">
                        Мы заботимся о нашей команде и предлагаем ее членам профессиональную поддержку и обучение, а
                        также возможности для участия в национальных и международных соревнованиях.

                        Наша команда состоит из людей разных профессий и возрастов, но у нас есть общая цель - стать
                        лучшими в своей области. Мы работаем над совершенствованием своих навыков и призываем других к
                        этому же.
                    </p>

                    <div class="wrap-pic-max-w p-b-30">
                        <img src="{% static 'images/comand.jpg' %}" alt="IMG">
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-5 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-5">
                    <!-- Popular Posts -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Популярные статьи
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            Интересные статьи пока отсутствуют)
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												статья
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												Feb 18
											</span>
										</span>
                                </div>
                            </li>

                            <li class="flex-wr-sb-s p-b-30">
                                <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            Интересные статьи пока отсутствуют)
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												статья
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												Feb 16
											</span>
										</span>
                                </div>
                            </li>

                            <li class="flex-wr-sb-s p-b-30">
                                <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            Интересные статьи пока отсутствуют)
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												статья
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												Feb 12
											</span>
										</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>

{% endblock content %}