{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">

  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" type="text/css" href="{% static 'css2/no-margin.css' %}">
<!--  <link href="{% static 'css2/vendor/bootstrap.css' %}" rel="stylesheet"/>-->
    <link href="{% static 'css2/vendor/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/slick.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/slick-theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/main.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css2/no-margin.css' %}">
  <script>
  function resetFilters() {
    document.getElementById("year").value = "";
    document.getElementById("registration").value = "";
    document.getElementById("search").value = "";
    document.getElementById("category").value = "";
    document.getElementById("organizers").value = "";
    document.getElementById("month").value = "";
  }
</script>

</head>
<body class="animsition">


<!-- Content -->
<section class="bg0 p-b-110 p-t-10">

  <!-- Добавляем форму для поиска и фильтрации -->
<div class="container" style="max-width: 1250px; overflow-x: auto;">
  <form method="GET" action="{% url 'archive' %}">
    <div id="app">

      <div style="display: flex; align-items: center; background-color: #f2f2f2; padding: 10px; ">
        <v-text-field type="text" name="search" id="search" placeholder="Поиск по названию" style="padding: 5px;"
                      v-model="search" append-icon="search" label="Поиск по названию:" single-line
                      hide-details></v-text-field>


      </div>
    </div>

    <div class="filter-container" style="display: flex; flex-wrap: wrap; align-items: center; background-color: #f2f2f2; padding: 10px; font-size: 18px; box-sizing: border-box;">

      <div class="control filter filter-control">
        <div class="control-icon">
          <i class="material-icons">&#xE152;</i>
        </div>
        <div class="select-arrow">
          <i class="material-icons">&#xE313;</i>
        </div>
        <select class="control-field filter-field form-control" style = "padding-left: 40px;" name="year" id="year">
          <option value="">Все года</option>
          <option value="2023" {% if request.GET.year == '2023' %}selected{% endif %}>2023</option>
          <option value="2022" {% if request.GET.year == '2022' %}selected{% endif %}>2022</option>
          <!-- Добавь остальные года, если необходимо -->
        </select>

      </div>

      <div class="control filter filter-control">
        <div class="control-icon">
          <i class="material-icons">&#xE152;</i>
        </div>
        <div class="select-arrow">
          <i class="material-icons">&#xE313;</i>
        </div>
        <select class="control-field filter-field form-control" style = "padding-left: 40px;" name="month" id="month">
          <option value="">Все месяцы</option>
          <option value="1" {% if request.GET.month == '1' %}selected{% endif %}>Январь</option>
          <option value="2" {% if request.GET.month == '2' %}selected{% endif %}>Февраль</option>
          <option value="3" {% if request.GET.month == '3' %}selected{% endif %}>Март</option>
          <option value="4" {% if request.GET.month == '4' %}selected{% endif %}>Апрель</option>
          <option value="5" {% if request.GET.month == '5' %}selected{% endif %}>Май</option>
          <option value="6" {% if request.GET.month == '6' %}selected{% endif %}>Июнь</option>
          <option value="7" {% if request.GET.month == '7' %}selected{% endif %}>Июль</option>
          <option value="8" {% if request.GET.month == '8' %}selected{% endif %}>Август</option>
          <option value="9" {% if request.GET.month == '9' %}selected{% endif %}>Сентябрь</option>
          <option value="10" {% if request.GET.month == '10' %}selected{% endif %}>Октябрь</option>
          <option value="11" {% if request.GET.month == '11' %}selected{% endif %}>Ноябрь</option>
          <option value="12" {% if request.GET.month == '12' %}selected{% endif %}>Декабрь</option>
        </select>
      </div>

      <div class="control filter filter-control">
        <div class="control-icon">
          <i class="material-icons">&#xE152;</i>
        </div>
        <div class="select-arrow">
          <i class="material-icons">&#xE313;</i>
        </div>
        <select class="control-field filter-field form-control" style = "padding-left: 40px;" name="organizers" id="organizers">
          <option value="">Все организаторы</option>
          <option value="FAURI" {% if request.GET.organizers == 'FAURI' %}selected{% endif %}>FAURI</option>
          <option value="Galata" {% if request.GET.organizers == 'Galata' %}selected{% endif %}>Galata</option>
          <option value="Tiras-Orient" {% if request.GET.organizers == 'Tiras-Orient' %}selected{% endif %}>Tiras-Orient</option>
          <option value="FOS RM" {% if request.GET.organizers == 'FOS RM' %}selected{% endif %}>FOS RM</option>
          <option value="IOF" {% if request.GET.organizers == 'IOF' %}selected{% endif %}>IOF</option>
          <option value="Прочее" {% if request.GET.organizers == 'Прочее' %}selected{% endif %}>Прочее</option>

          <!-- Добавь остальных организаторов, если необходимо,
          Для того чтобы сортировка по строчке "Прочее" исключало остальных организаторов, добавьте их в файлик views.py строчка 118
          или с помощью поиска по слову "Прочее"-->
        </select>
      </div>

      <div class="control filter filter-control">
        <div class="control-icon">
          <i class="material-icons">&#xE152;</i>
        </div>
        <div class="select-arrow">
          <i class="material-icons">&#xE313;</i>
        </div>
        <select class="control-field filter-field form-control" style = "padding-left: 40px;" name="category" id="category">
          <option value="">Все категории</option>
          <option value="Соревнование" {% if request.GET.category == 'Соревнование' %}selected{% endif %}>Соревнование</option>
          <option value="Международные соревнования" {% if request.GET.category == 'Международные соревнования' %}selected{% endif %}>Международные соревнования</option>
          <option value="Тренировка" {% if request.GET.category == 'Тренировка' %}selected{% endif %}>Тренировка</option>

          <!-- Добавь остальные категории, если необходимо -->
        </select>
      </div>


      <div class="control filter filter-control">
        <div class="control-icon">
          <i class="material-icons">&#xE152;</i>
        </div>
        <div class="select-arrow">
          <i class="material-icons">&#xE313;</i>
        </div>
        <select class="control-field filter-field form-control" style = "padding-left: 40px;" name="registration" id="registration">
          <option value="">Все статусы регистрации</option>
          <option value="open" {% if request.GET.registration == 'open' %}selected{% endif %}>Открыта</option>
          <option value="closed" {% if request.GET.registration == 'closed' %}selected{% endif %}>Закрыта</option>

        </select>
      </div>
    </div>

    <div id="selected-filters">
      <div style="display: flex; justify-content: center; margin-top: 10px;" class="frame">
        <button type="submit" class="button small">Применить</button>
        <button type="submit" class="button small_reset" onclick="resetFilters()" style="margin-right: 10px; padding: 10px 11px;">
          <i class="material-icons">&#xe627;</i></button>
        </button>

      </div>
      </div>

  </form>
</div>

<div class="container" style="max-width: 1250px; overflow-x: auto;">



<table style='border-collapse: collapse;width: 100%; font-size: 14px;'>
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 15%;">Дата</th>
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 15%;">Название мероприятия</th>
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 15%;">Организаторы</th>
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 15%;">Категория</th>
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 15%;">Информация</th>
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 15%;">Результаты</th>
      <th style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; width: 10%;">Регистрация</th>
    </tr>
  </thead>
  <tbody>

    {% for pdf in page_obj %}
    <tr class="table-row">
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center;">{{ pdf.day }}</td>
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center;">{{ pdf.bazeinfo }}</td>
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center;">{{ pdf.organizers }}</td>
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center;">{{ pdf.category_text }}</td>
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center;">
        {% for info_file in pdf.info_files.all %}
        <a href="{{ info_file.file.url }}" style="text-decoration: none;">{{ info_file.text_info }}</a>
        <br>
        {% empty %}
        {% if pdf.info_text %}
        {{ pdf.info_text }}
        {% endif %}
        {% endfor %}
      </td>
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center;">
        {% for result_file in pdf.rezul_files.all %}
        <a href="{{ result_file.file.url }}" style="text-decoration: none;">{{ result_file.text_result }}</a>
        <br>
        {% empty %}
        {% if pdf.rezul_text %}
        {{ pdf.rezul_text }}
        {% endif %}
        {% endfor %}
      </td>
      <td style="border: 1px solid rgba(1, 30, 65, 0.5); padding: 10px; text-align: center; {% if pdf.register %} background-color: rgba(46, 217, 195, 0.5); {% else %} background-color: #F4D3D6; {% endif %}">
        {% if pdf.register %}
          <a href="{{ pdf.register }}" style="text-decoration: none;">Открыта</a>
        {% else %}
        <p> Закрыто </p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="pagination">
  <ul>
    <div class="justify-content-center" style="display: flex">
      {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
          <span class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">{{ num }}</span>
        {% else %}
          <a href="?page={{ num }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.organizers %}&organizers={{ request.GET.organizers }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.registration %}&registration={{ request.GET.registration }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">{{ num }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </ul>
</div>


</div>

</section>


<script src="{% static 'js/main.js' %}"></script>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js'></script>

</body>

{% endblock content %}