<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendarsmall.css' %}">
    <!--===============================================================================================-->


    <title>Fauri</title>
</head>

<body class="animsition">
<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">

        <!-- Верхняя черная линия  -->
        {% if trending_texts %}
        <ul class="topbar-mobile text-center">

                <span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown"
                      data-out="fadeOutDown">
								{% for text in trending_texts %}
								<span class="dis-inline-block slide100-txt-item animated visible-false">
									{{ text|safe }}
								</span>
								{% endfor %}
							</span>
        </ul>
        {% endif %}
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">

            <ul class="main-menu-m">

                <li>
                    <a href="{% url 'news' %}">Новости</a>
                </li>


                <li>
                    <a href="{% url 'calendars' %}">Календарь</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">О нас</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Контакты</a>
                </li>
                <li>
                    <a href="{% url 'archive' %}">Архив</a>
                </li>


            </ul>
        </div>

        <!--Logo desktop  -->
        <div class="wrap-logo no-banner container">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="LOGO"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">

                    <ul class="main-menu justify-content-center">

                        <li class="mega-menu-item">
                            <a href="{% url 'news' %}">Новости</a>

                            <div class="sub-mega-menu">
                                <div class="nav flex-column nav-pills" role="tablist">
                                    <a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">Всё</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-1" role="tab">Соревнования</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-2" role="tab">Международные
                                        соревнования</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-3" role="tab">События</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-4" role="tab">Тренировки</a>
                                </div>

                                <div class="tab-content">

                                    <!--  нулевая строчка "ВСЕ"-->
                                    <div class="tab-pane show active" id="news-0" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_all %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!--  первая строчка "соревнования"-->
                                    <div class="tab-pane" id="news-1" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_competition %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>

                                    <!--  вторая строчка "международные соревнования"-->
                                    <div class="tab-pane" id="news-2" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_worldcomp %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!--  третья строчка "события"-->
                                    <div class="tab-pane" id="news-3" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_event %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!--  четвертая строчка "тренировки"-->
                                    <div class="tab-pane" id="news-4" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_train %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>


                        <li class="mega-menu-item">
                            <a href="{% url 'calendars' %}">Календарь</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'about' %}"> О нас</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'contact' %}"> Контакты</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'archive' %}"> Архив</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


{% block content %}{% endblock content %}


<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="index.html">
                            <img class="max-s-full" src="{% static 'assets/img/logo2.png' %}" alt="LOGO">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit
                            efficitur, at accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis
                            ut turpis. Vestibulum dolor metus, tincidunt eget odio
                        </p>

                        <p class="f1-s-1 cl11 p-b-16">
                            Any questions? Call us on (+1) 96 716 6879
                        </p>

                        <div class="p-t-15">
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-viber"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Popular Posts
                        </h5>
                    </div>

                    <ul>
                        <li class="flex-wr-sb-s p-b-20">
                            <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                            </a>

                            <div class="size-w-5">
                                <h6 class="p-b-5">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                        Интересные статьи пока отсутствуют)
                                    </a>
                                </h6>

                                <span class="f1-s-3 cl6">
										Feb 17
									</span>
                            </div>
                        </li>

                        <li class="flex-wr-sb-s p-b-20">
                            <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                            </a>

                            <div class="size-w-5">
                                <h6 class="p-b-5">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                        Интересные статьи пока отсутствуют)
                                    </a>
                                </h6>

                                <span class="f1-s-3 cl6">
										Feb 16
									</span>
                            </div>
                        </li>

                        <li class="flex-wr-sb-s p-b-20">
                            <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                            </a>

                            <div class="size-w-5">
                                <h6 class="p-b-5">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                        Интересные статьи пока отсутствуют)
                                    </a>
                                </h6>

                                <span class="f1-s-3 cl6">
										Feb 15
									</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Категории
                        </h5>
                    </div>

                    <ul class="m-t--12">
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Соревнования ({{count_competition}})
                            </a>
                        </li>

                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Международные соревнования ({{count_worldcomp}})
                            </a>
                        </li>

                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                События ({{count_event}})
                            </a>
                        </li>

                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Тренировки ({{count_train}})
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Fauri © 2023 <a href="{% url 'news' %}" class="f1-s-1 cl10 hov-link1">Evghenii </a>
				</span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function updateCalendar(eventId) {
    $.ajax({
        url: '/get-event-info/',
        data: {event_id: eventId},
        dataType: 'json',
        success: function (data) {
            var headerText = data.header.length > 47 ? data.header.slice(0, 30) + '...' : data.header;

            $('#calendar-image').css('background-image', 'url("' + data.image_url + '")');
            $('#calendar-header').html('<a href="/news/' + data.event_id + '/">' + headerText + '</a>');
            $('#calendar-date').text(data.date);
        }
    });
}

function getClosestEventId() {
    var currentDate = new Date();
    var closestEventId = null;
    var closestEventDateDiff = Infinity;

    var events = {{ events_list|safe }};

    for (var i = 0; i < events.length; i++) {
        var event = events[i];
        var eventDate = new Date(event.date);

        if (eventDate >= currentDate) {
            var dateDiff = Math.abs(eventDate - currentDate);

            if (dateDiff < closestEventDateDiff) {
                closestEventDateDiff = dateDiff;
                closestEventId = event.id;
            }
        }
    }

    if (closestEventId === null) {
        // Если не найдено ближайших событий в текущем и будущих месяцах
        // отладочный вывод
        console.log('No upcoming events found.');

        // Попробуем найти события в прошлых месяцах
        for (var i = 0; i < events.length; i++) {
            var event = events[i];
            var eventDate = new Date(event.date);

            if (eventDate < currentDate) {
                var dateDiff = Math.abs(eventDate - currentDate);

                if (dateDiff < closestEventDateDiff) {
                    closestEventDateDiff = dateDiff;
                    closestEventId = event.id;
                }
            }
        }
    }

    return closestEventId;
}

function bindEventHandlers() {
    $('.calendar__number--current').click(function () {
        $('.calendar__number--current').removeClass('calendar__number--selected');
        $(this).addClass('calendar__number--selected');

        var eventId = $(this).data('id');
        updateCalendar(eventId);
    });

    var closestEventId = getClosestEventId();
    if (closestEventId !== null) {
        updateCalendar(closestEventId);
    }
}

bindEventHandlers();
console.log(new Date());
console.log({{ events_list|safe }});
</script>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
