{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="animsition">
<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">

    </div>
</div>

<!-- Page heading -->
<div class="container p-t-4 p-b-35">
    <h2 class="f1-l-1 cl2">
        Календарь
    </h2>
</div>

<!-- Calendar -->
<section class="bg0 p-b-110">
    <div class="container">

        <div class="calendar" style="border:1px solid #00000066;">
            <div class="calendar__picture__page" id="calendar-image">
                <div class="calendar__top">
                    <div class="calendar__date" id="calendar-date"></div>
                    <div class="calendar__time" id="calendar-time"></div>
                </div>

                <div class="calendar__header " id="calendar-header" style="position: relative; z-index: 1;">
                    <a id="event-link" href="/news/{{ event_id }}/" style="pointer-events: auto;">{{ header }}</a>
                </div>

            </div>


            <div class="calendar__date">
                <div class="calendar__day">Пн</div>
                <div class="calendar__day">Вт</div>
                <div class="calendar__day">Ср</div>
                <div class="calendar__day">Чт</div>
                <div class="calendar__day">Пн</div>
                <div class="calendar__day">Сб</div>
                <div class="calendar__day">Вс</div>
            </div>
            {{ calendar|safe }}

        </div>

    </div>
</section>


</body>

{% endblock content %}
