{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="animsition">
<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">

    </div>
</div>

<!-- Page heading -->
<div class="container p-t-4 p-b-35">

</div>

<!-- Calendar -->
<section class="bg0 p-b-110">
    <div class="container">

<div style=" text-align: center;">
<h2 class="f1-l-1 cl2">
  <a href="{{ previous_month }}"><i class="fas fa-chevron-left" style="color: #2ED9C3;"></i></a>
  {{ month }}
  <a href="{{ next_month }}"><i class="fas fa-chevron-right" style="color: #2ED9C3;"></i></a>
</h2>
{{ year }}
</div>
        <br>
        <div class="calendar f1-m-3 " style="border:1px solid #00000066;">
            <div class="calendar__picture__page " id="calendar-image">

                <div class="calendar__top">
                    <div class="calendar__date calendar_font" id="calendar-date"></div>
                    <div class="calendar__time calendar_font" id="calendar-time"></div>
                </div>

                <div class="calendar__header " id="calendar-header">
                    <a id="event-link" href="/news/{{ event_id }}/" style="pointer-events: auto;">{{ header }}</a>
                </div>

            </div>


            <div class="calendar__date">
                <div class="calendar__day">Пн</div>
                <div class="calendar__day">Вт</div>
                <div class="calendar__day">Ср</div>
                <div class="calendar__day">Чт</div>
                <div class="calendar__day">Пн</div>
                <div class="calendar__day">Сб</div>
                <div class="calendar__day">Вс</div>
            </div>
            {{ calendar|safe }}

        </div>

    </div>
    <br><br><br>

    <div class="container p-t-4 p-b-35">
        <div class="how2 how2-cl4 flex-s-c">
            <h3 class="f1-m-2 cl3 tab01-title">
                Архив месяца
            </h3>
        </div>
    </div>

    <div class="container" style="overflow-x: auto;">
<table style='border-collapse: collapse;width: 100%;'>
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="border: 1px solid #e0e0e0; padding: 10px; text-align: center; width: 30%;">Информация</th>
      <th style="border: 1px solid #e0e0e0; padding: 10px; text-align: center; width: 35%;">Бюллетень</th>
      <th style="border: 1px solid #e0e0e0; padding: 10px; text-align: center; width: 35%;">Результаты</th>
    </tr>
  </thead>
  <tbody>
    {% for pdf in pdfs_list %}
    <tr>
      <td style="border: 1px solid #e0e0e0; padding: 10px; text-align: center;">{{ pdf.bazeinfo }}</td>
      <td style="border: 1px solid #e0e0e0; padding: 10px; text-align: center;">
        {% if pdf.info_pdf %}
          <a href="{{ pdf.info_pdf.url }}" style="text-decoration: none;">{{ pdf.info_pdf.name }}</a>
        {% else %}
          {{ pdf.info_text }}
        {% endif %}
      </td>
      <td style="border: 1px solid #e0e0e0; padding: 10px; text-align: center;">
        {% if pdf.rezul_pdf %}
          <a href="{{ pdf.rezul_pdf.url }}" style="text-decoration: none;">{{ pdf.rezul_pdf.name }}</a>
        {% else %}
          {{ pdf.rezul_text }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    </div>


</section>


</body>

{% endblock content %}
