{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="animsition">

<!-- Page heading -->
<div class="container p-t-4 p-b-35">
    <br>
    <h2 class="f1-l-1 cl2">
        Контакты
    </h2>
</div>

<!-- Content -->
<section class="bg0 p-b-140 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">

                        <p class="f1-s-11 cl6 p-b-25">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet est vel orci luctus
                            sollicitudin. Duis eleifend vestibulum justo, varius semper lacus condimentum dictum. Donec
                            pulvinar a magna ut malesuada. In posuere felis diam, vel sodales metus accumsan in. Duis
                            viverra dui eu pharetra pellentesque. Donec a eros leo. Quisque sed ligula vitae lorem
                            efficitur faucibus. Praesent sit amet imperdiet ante. Nulla id tellus auctor, dictum libero
                            a, malesuada nisi. Nulla in porta nibh, id vestibulum ipsum. Praesent dapibus tempus erat
                            quis aliquet. Donec ac purus id sapien condimentum feugiat.
                        </p>

                        <p class="f1-s-11 cl6 p-b-25">
                            Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique
                            sit amet suscipit in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget
                            eleifend neque blandit. Sed tempor magna sed congue auctor. Mauris eu turpis eget tortor
                            ultricies elementum. Phasellus vel placerat orci, a venenatis justo. Phasellus faucibus
                            venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis accumsan felis,
                            quis vulputate
                        </p>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6470.12902524675!2d28.837265452870096!3d47.013653005519245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1679673205025!5m2!1sru!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <br><br>
                        <div class="flex-s-s p-t-12 p-b-15">
								<span class="f1-s-12 cl5 m-r-8">
                                    <h4>Наш адрес</h4>
                                    <p>House #13, Streat road, Cishinau<br>Moldova</p>
                                </span>
                            <span class="f1-s-12 cl5 m-r-8">
                                    <h4>Связаться с нами</h4>
                                    <p>+373 673 74 592<br>+373 673 74 592 <br></p>
                                </span>

                            <span class="f1-s-12 cl5 m-r-8">

                                    <h4>Email</h4>
                                    <p>contactus@email.com</p>
                                 </span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>

{% endblock content %}