{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="animsition">

<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">

    </div>
</div>

<!-- Page heading -->
<div class="container p-t-4 p-b-35">
    <h2 class="f1-l-1 cl2">
        Контакты
    </h2>
</div>

<!-- Content -->
<section class="bg0 p-b-110">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <p class="f1-s-11 cl6 p-b-25">
                            Если вы заинтересованы в нашей работе, мы будем рады услышать от вас. Свяжитесь с нами,
                            чтобы получить дополнительную информацию о тренировках, соревнованиях и возможностях для
                            участия в нашей команде. Мы всегда готовы ответить на ваши вопросы и помочь вам начать свое
                            приключение в мире спортивного ориентирования! </p>

                                        <p class="f1-s-11 cl6 p-b-25">
                            Вы можете связаться с нами по номеру телефона: +373 067573856</p>
                                        <p class="f1-s-11 cl6 p-b-25">или по Viber: +373 067573856</p>



                    <div class="wrap-pic-max-w p-b-30">

                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6470.12902524675!2d28.837265452870096!3d47.013653005519245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1679673205025!5m2!1sru!2s"
                                width="680" height="470" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



</body>

{% endblock content %}