{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link href="{% static 'css2/vendor/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/slick.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/slick-theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/main.css' %}" rel="stylesheet"/>

</head>

<body class="animsition">




<div class="home-slider">
    <div class="home-slider--wrapper">
        <div>
            <div class="home-slider--wrapper__inner">
                <img src="{% static 'assets/img/slider2.jpg' %}" alt=""/>
            </div>
        </div>
        <div>
            <div class="home-slider--wrapper__inner">
                <img src="{% static 'assets/img/slider3.jpg' %}" alt=""/>
            </div>
        </div>
    </div>

</div>

<section class="partners">
    <div class="container">

        <div class="partners--container">

            <div class="partners--item"></div>

            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="{% static 'assets/img/partner1.png' %}" alt="">
                </div>

            </div>

            <div class="partners--item">

                <img src="{% static 'assets/img/OM_Logo.jpg' %}" alt="">

            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="{% static 'assets/img/partner1.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <p>Спортивный клуб FAURI - это некоммерческая организация, которая занимается развитием и популяризацией
                    спортивного ориентирования. Мы регулярно проводим открытые тренировки и соревнования,
                    а наши спортсмены участвуют в международных стартах!
                </p>
            </div>
        </div>
    </div>
</section>





<section class="case-study">
    <div class="container">
        <h2>Примеры нашей деятельности</h2>
    </div>
    <div class="container">
        <div class="case-study--sliders">
            <div class="case-study--left">
                <div class="case-study--left__textslider">
                    <div>
                        <div class="case-study--left__textslider__image"><img src="{% static 'assets/img/sorevi.png' %}"
                                                                              alt=""/></div>
                        <h4>Соревнования</h4>
                        <p>Мы организуем и принимаем участие в захватывающих соревнованиях по спортивному
                            ориентированию, где каждый участник испытывает свои навыки, выносливость и
                            стратегическое мышление.</p>
                        <a href="#" class="button small">еще</a>
                    </div>
                    <div>
                        <div class="case-study--left__textslider__image"><img src="{% static 'assets/img/treni.png' %}"
                                                                              alt=""/></div>
                        <h4>Тренировки</h4>
                        <p>Мы проводим регулярные тренировки, где каждый может улучшить свои навыки ориентирования,
                            повысить физическую форму и укрепить командный дух.
                        </p>
                        <a href="#" class="button small">еще</a>
                    </div>
                    <div>
                        <div class="case-study--left__textslider__image"><img
                                src="{% static 'assets/img/prazdni.png' %}" alt=""/></div>
                        <h4>Праздники</h4>
                        <p>Мы организуем различные праздники, посвященные спортивному ориентированию, где участники
                            могут насладиться замечательной атмосферой соревнований и дружеского общения.
                        </p>
                        <a href="#" class="button small">еще</a>
                    </div>
                </div>
                <div class="case-study--left__dots"></div>
            </div>
            <div class="case-study--right">
                <div class="case-study--right__imageslider">
                    <div>
                        <img src="{% static 'assets/img/sorevisl.jpg' %}" alt=""/>
                    </div>
                    <div>
                        <img src="{% static 'assets/img/trenisl.jpg' %}" alt=""/>
                    </div>
                    <div>
                        <img src="{% static 'assets/img/prazdnisl.jpg' %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="four-elements">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image--manrun"><img src="{% static 'assets/img/begun.png' %}" alt=""/></div>
                    <h3>Международные соревнования</h3>
                    <p>Наша команда профессионалов проводит соревнования высокого уровня.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><img src="{% static 'assets/img/heart.png' %}" alt=""/></div>
                    <h3>Дружелюбная команда</h3>
                    <p>В команде всегда приятная и дружеская атмосфера.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><img src="{% static 'assets/img/circle.png' %}" alt=""/></div>
                    <h3>Креативная команда</h3>
                    <p>Мы всегда пробуем что то новое, и не боимся экспериментировать </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><img src="{% static 'assets/img/compas.png' %}" alt=""/></div>
                    <h3>Обучение для детей</h3>
                    <p>У нас большой выбор тренеров для ваших детей, что является бесплатным,так же обучаем и
                        взрослых.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="our-history">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <img src="{% static 'assets/img/Monitor.png' %}" alt=""/>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h2>Наша история</h2>
                    <p>Добро пожаловать в клуб спортивного ориентирования Fauri, где страсть к приключениям и постоянное
                        совершенствование навыков встречаются с невероятными достижениями. Мы предлагаем уникальный опыт
                        ориентирования на природе, сочетая физическую активность, интеллектуальные вызовы и командную
                        работу.
                    </p>
                    <p> Наш клуб посвящен расширению границ спортивного ориентирования и продвижению этой увлекательной
                        дисциплины в нашей стране. Присоединяйтесь к нам и откройте для себя захватывающий мир
                        ориентирования!</p>
                    <!-- <a href="#" class="button">Присоединиться к нам</a> -->
                </div>
            </div>
        </div>
    </section>

    <section class="get-started">
        <div class="container">
            <h2>Начни сейчас. Это бесплатно!</h2>
            <p>Это тяжело только на первый взгляд</p>
            <a href="#" class="button">Начать</a>
        </div>
    </section>
</div>


<script src="{% static 'js2/vendor/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js2/vendor/jquery.easing.min.js' %}"></script>
<script src="{% static 'js2/vendor/tether.js' %}"></script>
<script src="{% static 'js2/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js2/vendor/slick.js' %}"></script>
<script src="{% static 'js2/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js2/main.js' %}"></script>

</body>


{% endblock content %}