<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon"/>
    <link href="{% static 'css2/vendor/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/slick.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/vendor/slick-theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css2/main.css' %}" rel="stylesheet"/>

    <title>Fauri</title>
</head>

<body class="animsition">

<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">


        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-viber"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>

            <ul class="main-menu-m">

                <li>
                    <a href="{% url 'news' %}">Новости</a>
                </li>


                <li>
                    <a href="{% url 'calendars' %}">Календарь</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">О нас</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Контакты</a>
                </li>
                <li>
                    <a href="{% url 'archive' %}">Архив</a>
                </li>
            </ul>
        </div>

        <!--Logo desktop  -->
        <div class="wrap-logo no-banner container">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt="LOGO"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">

                    <ul class="main-menu justify-content-center">

                        <li class="mega-menu-item">
                            <a href="{% url 'news' %}">Новости</a>

                            <div class="sub-mega-menu">
                                <div class="nav flex-column nav-pills" role="tablist">
                                    <a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">Всё</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-1" role="tab">Соревнования</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-2" role="tab">Международные соревнования</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-3" role="tab">События</a>
                                    <a class="nav-link" data-toggle="pill" href="#news-4" role="tab">Тренировки</a>
                                </div>

                                <div class="tab-content">

                                    <!--  нулевая строчка "ВСЕ"-->
                                    <div class="tab-pane show active" id="news-0" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_all %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!--  первая строчка "соревнования"-->
                                    <div class="tab-pane" id="news-1" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_competition %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>

                                    <!--  вторая строчка "международные соревнования"-->
                                    <div class="tab-pane" id="news-2" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_worldcomp %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!--  третья строчка "события"-->
                                    <div class="tab-pane" id="news-3" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_event %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!--  четвертая строчка "тренировки"-->
                                    <div class="tab-pane" id="news-4" role="tabpanel">
                                        <div class="row">
                                            {% for news in news_train %}
                                            <div class="col-3">
                                                <!-- Item post -->
                                                <div>
                                                    <a href="{% url 'single' news.id %}"
                                                       class="wrap-pic-w hov1 trans-03">
                                                        <img src="{{ news.image.url }}" alt="IMG">
                                                    </a>

                                                    <div class="p-t-10">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'single' news.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ news.header }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.author }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	 {{ news.creation_day|date:"d M" }}
																</span>
															</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>


                        <li class="mega-menu-item">
                            <a href="{% url 'calendars' %}">Календарь</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'about' %}"> О нас</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'contact' %}"> Контакты</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'archive' %}"> Архив</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="home-slider">
    <div class="home-slider--wrapper">
        <div>
            <div class="home-slider--wrapper__inner">
                <img src="{% static 'assets/img/slider2.jpg' %}" alt=""/>
            </div>
        </div>
        <div>
            <div class="home-slider--wrapper__inner">
                <img src="{% static 'assets/img/slider3.jpg' %}" alt=""/>
            </div>
        </div>
    </div>

</div>

<section class="partners">
    <div class="container">

        <div class="partners--container">

            <div class="partners--item"></div>

            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="{% static 'assets/img/partner1.png' %}" alt="">
                </div>

            </div>

            <div class="partners--item">

                <img src="{% static 'assets/img/OM_Logo.jpg' %}" alt="">

            </div>
            <div class="partners--item">
                <div class="partners--item__image">
                    <img src="{% static 'assets/img/partner1.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="our-history">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <p>Спортивный клуб FAURI - это некоммерческая организация, которая занимается развитием и популяризацией
                    спортивного ориентирования. Мы регулярно проводим открытые тренировки и соревнования,
                    а наши спортсмены участвуют в международных стартах!
                </p>
            </div>
        </div>
    </div>
</section>





<section class="case-study">
    <div class="container">
        <h2>Примеры нашей деятельности</h2>
    </div>
    <div class="container">
        <div class="case-study--sliders">
            <div class="case-study--left">
                <div class="case-study--left__textslider">
                    <div>
                        <div class="case-study--left__textslider__image"><img src="{% static 'assets/img/sorevi.png' %}"
                                                                              alt=""/></div>
                        <h4>Соревнования</h4>
                        <p>Мы организуем и принимаем участие в захватывающих соревнованиях по спортивному
                            ориентированию, где каждый участник испытывает свои навыки, выносливость и
                            стратегическое мышление.</p>
                        <a href="#" class="button small">еще</a>
                    </div>
                    <div>
                        <div class="case-study--left__textslider__image"><img src="{% static 'assets/img/treni.png' %}"
                                                                              alt=""/></div>
                        <h4>Тренировки</h4>
                        <p>Мы проводим регулярные тренировки, где каждый может улучшить свои навыки ориентирования,
                            повысить физическую форму и укрепить командный дух.
                        </p>
                        <a href="#" class="button small">еще</a>
                    </div>
                    <div>
                        <div class="case-study--left__textslider__image"><img
                                src="{% static 'assets/img/prazdni.png' %}" alt=""/></div>
                        <h4>Праздники</h4>
                        <p>Мы организуем различные праздники, посвященные спортивному ориентированию, где участники
                            могут насладиться замечательной атмосферой соревнований и дружеского общения.
                        </p>
                        <a href="#" class="button small">еще</a>
                    </div>
                </div>
                <div class="case-study--left__dots"></div>
            </div>
            <div class="case-study--right">
                <div class="case-study--right__imageslider">
                    <div>
                        <img src="{% static 'assets/img/sorevisl.jpg' %}" alt=""/>
                    </div>
                    <div>
                        <img src="{% static 'assets/img/trenisl.jpg' %}" alt=""/>
                    </div>
                    <div>
                        <img src="{% static 'assets/img/prazdnisl.jpg' %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="four-elements">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image--manrun"><img src="{% static 'assets/img/begun.png' %}" alt=""/></div>
                    <h3>Международные соревнования</h3>
                    <p>Наша команда профессионалов проводит соревнования высокого уровня.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><img src="{% static 'assets/img/heart.png' %}" alt=""/></div>
                    <h3>Дружелюбная команда</h3>
                    <p>В команде всегда приятная и дружеская атмосфера.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><img src="{% static 'assets/img/circle.png' %}" alt=""/></div>
                    <h3>Креативная команда</h3>
                    <p>Мы всегда пробуем что то новое, и не боимся экспериментировать </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="four-elements--image"><img src="{% static 'assets/img/compas.png' %}" alt=""/></div>
                    <h3>Обучение для детей</h3>
                    <p>У нас большой выбор тренеров для ваших детей, что является бесплатным,так же обучаем и
                        взрослых.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="our-history">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <img src="{% static 'assets/img/Monitor.png' %}" alt=""/>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <h2>Наша история</h2>
                    <p>Добро пожаловать в клуб спортивного ориентирования Fauri, где страсть к приключениям и постоянное
                        совершенствование навыков встречаются с невероятными достижениями. Мы предлагаем уникальный опыт
                        ориентирования на природе, сочетая физическую активность, интеллектуальные вызовы и командную
                        работу.
                    </p>
                    <p> Наш клуб посвящен расширению границ спортивного ориентирования и продвижению этой увлекательной
                        дисциплины в нашей стране. Присоединяйтесь к нам и откройте для себя захватывающий мир
                        ориентирования!</p>
                    <!-- <a href="#" class="button">Присоединиться к нам</a> -->
                </div>
            </div>
        </div>
    </section>

    <section class="get-started">
        <div class="container">
            <h2>Начни сейчас. Это бесплатно!</h2>
            <p>Это тяжело только на первый взгляд</p>
            <a href="#" class="button">Начать</a>
        </div>
    </section>
</div>


<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="index.html">
                            <img class="max-s-full" src="{% static 'assets/img/logo2.png' %}" alt="LOGO">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit
                            efficitur, at accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis
                            ut turpis. Vestibulum dolor metus, tincidunt eget odio
                        </p>

                        <p class="f1-s-1 cl11 p-b-16">
                            Any questions? Call us on (+1) 96 716 6879
                        </p>

                        <div class="p-t-15">
                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-twitter"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-pinterest-p"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-vimeo-v"></span>
                            </a>

                            <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Popular Posts
                        </h5>
                    </div>

                    <ul>
                        <li class="flex-wr-sb-s p-b-20">
                            <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                            </a>

                            <div class="size-w-5">
                                <h6 class="p-b-5">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                        Интересные статьи пока отсутствуют)
                                    </a>
                                </h6>

                                <span class="f1-s-3 cl6">
										Feb 17
									</span>
                            </div>
                        </li>

                        <li class="flex-wr-sb-s p-b-20">
                            <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                            </a>

                            <div class="size-w-5">
                                <h6 class="p-b-5">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                        Интересные статьи пока отсутствуют)
                                    </a>
                                </h6>

                                <span class="f1-s-3 cl6">
										Feb 16
									</span>
                            </div>
                        </li>

                        <li class="flex-wr-sb-s p-b-20">
                            <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                <img src="{% static 'assets/img/no_event.png' %}" alt="IMG">
                            </a>

                            <div class="size-w-5">
                                <h6 class="p-b-5">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                        Интересные статьи пока отсутствуют)
                                    </a>
                                </h6>

                                <span class="f1-s-3 cl6">
										Feb 15
									</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Категории
                        </h5>
                    </div>

                    <ul class="m-t--12">
                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Соревнования ({{count_competition}})
                            </a>
                        </li>

                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Международные соревнования ({{count_worldcomp}})
                            </a>
                        </li>

                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                События ({{count_event}})
                            </a>
                        </li>

                        <li class="how-bor1 p-rl-5 p-tb-10">
                            <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                Тренировки ({{count_train}})
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Fauri © 2023 <a href="{% url 'news' %}" class="f1-s-1 cl10 hov-link1">Evghenii </a>
				</span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
</div>
<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>


<script src="{% static 'js2/vendor/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'js2/vendor/jquery.easing.min.js' %}"></script>
<script src="{% static 'js2/vendor/tether.js' %}"></script>
<script src="{% static 'js2/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js2/vendor/slick.js' %}"></script>
<script src="{% static 'js2/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js2/main.js' %}"></script>

</body>

</html>
