{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="animsition">


<section class="bg0">
    <div class="row m-rl-0 justify-content-center">
        {% with latest_events|slice:"-2:" as recent_news %}
        <div class="col-md-4 p-rl-1 p-b-2">
            <div class="bg-img1 size-a-11 how1 pos-relative"
                 style="background-image: url({{recent_news.0.image.url}});">
                <a href="{% url 'single' recent_news.0.id %}" class="dis-block how1-child1 trans-03"></a>


                <div class="flex-col-e-s s-full p-rl-25 p-tb-18">
                    <a href="{% url 'news_by_category' category=recent_news.0.category %}"
                       class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                        {{ recent_news.0.category }}
                    </a>


                    <h3 class="how1-child2 m-t-14 m-b-10">
                        <a href="{% url 'single' recent_news.0.id %}" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
                            {{recent_news.0.header}}
                        </a>
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-rl-1 p-b-2">
            <div class="bg-img1 size-a-11 how1 pos-relative"
                 style="background-image: url({{recent_news.1.image.url}});">
                <a href="{% url 'single' recent_news.1.id %}" class="dis-block how1-child1 trans-03"></a>

                <div class="flex-col-e-s s-full p-rl-25 p-tb-18">
                    <a href="{% url 'news_by_category' category=recent_news.1.category %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                        {{recent_news.1.category}}
                    </a>

                    <h3 class="how1-child2 m-t-14 m-b-10">
                        <a href="{% url 'single' recent_news.1.id %}" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
                            {{recent_news.1.header}}
                        </a>
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-rl-1 p-b-2">
            <div class="bg-img1 size-a-11 how1 pos-relative"
                 style="background-image: url({{recent_news.2.image.url}});">
                <a href="{% url 'single' recent_news.2.id %}" class="dis-block how1-child1 trans-03"></a>

                <div class="flex-col-e-s s-full p-rl-25 p-tb-18">
                    <a href="{% url 'news_by_category' category=recent_news.2.category %}" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                        {{recent_news.2.category}}
                    </a>

                    <h3 class="how1-child2 m-t-14 m-b-10">
                        <a href="{% url 'single' recent_news.2.id %}" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
                            {{recent_news.2.header}}
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        {% endwith %}
    </div>
</section>


<!-- Post -->
<section class="post bg0 p-t-85">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="p-r-10 p-rl-0-sr991 p-b-20">
                    <!-- Соревнования  -->
                    <div class="p-b-25">
                        <div class="how2 how2-cl1 flex-s-c">
                            <h3 class="f1-m-2 cl12 tab01-title">
                                <a href="{% url 'news_by_category' category='соревнования' %}" style="text-decoration: none; color: #FF4713;">
                                Соревнования ({{count_competition}})
                            </a>
                            </h3>
                        </div>

                        <div class="flex-wr-sb-s p-t-35">
                            <div class="size-w-6 w-full-sr575">
                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_competition.0.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_competition.0.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-25">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_competition.0.id %}"
                                               class="f1-m-3 cl2 hov-cl10 trans-03">
                                                {{ news_competition.0.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
													{{ news_competition.0.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_competition.0.creation_day|date:"d M" }}
												</span>

											</span>

                                    </div>
                                </div>
                            </div>

                            <div class="size-w-7 w-full-sr575">
                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_competition.1.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_competition.1.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-10">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_competition.1.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_competition.1.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_competition.1.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_competition.1.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>

                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_competition.2.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_competition.2.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-10">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_competition.2.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_competition.2.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_competition.2.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_competition.1.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Международные соревнования  -->
                    <div class="p-b-25">
                        <div class="how2 how2-cl2 flex-s-c">
                            <h3 class="f1-m-2 cl13 tab01-title">
                                                            <a href="{% url 'news_by_category' category='международные соревнования' %}" style="text-decoration: none; color: #00B451;">
                                Международные соревнования ({{count_worldcomp}})
                            </a>
                            </h3>
                        </div>

                        <div class="flex-wr-sb-s p-t-35">
                            <div class="size-w-6 w-full-sr575">
                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_worldcomp.0.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_worldcomp.0.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-25">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_worldcomp.0.id %}"
                                               class="f1-m-3 cl2 hov-cl10 trans-03">
                                                {{ news_worldcomp.0.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
													{{ news_worldcomp.0.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_worldcomp.0.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>

                            <div class="size-w-7 w-full-sr575">
                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_worldcomp.1.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_worldcomp.1.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-10">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_worldcomp.1.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_worldcomp.1.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_worldcomp.1.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_worldcomp.1.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>

                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_worldcomp.2.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_worldcomp.2.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-10">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_worldcomp.2.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_worldcomp.2.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_worldcomp.2.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_worldcomp.2.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- События  -->
                    <div class="p-b-25">
                        <div class="how2 how2-cl3 flex-s-c">
                            <h3 class="f1-m-2 cl14 tab01-title">
                               <a href="{% url 'news_by_category' category='событие' %}" style="text-decoration: none; color: #e3724a;">
                                     События ({{count_event}})
                            </a>
                            </h3>
                        </div>

                        <div class="flex-wr-sb-s p-t-35">
                            <div class="size-w-6 w-full-sr575">
                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_event.0.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_event.0.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-25">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_event.0.id %}"
                                               class="f1-m-3 cl2 hov-cl10 trans-03">
                                                {{ news_event.0.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
													{{ news_event.0.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_event.0.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>

                            <div class="size-w-7 w-full-sr575">
                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_event.1.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_event.1.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-10">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_event.1.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_event.1.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_event.1.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_event.1.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>

                                <!-- Item post -->
                                <div class="m-b-30">
                                    <a href="{% url 'single' news_event.2.id %}" class="wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_event.2.image.url }}" alt="IMG">
                                    </a>

                                    <div class="p-t-10">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_event.2.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_event.2.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_event.2.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_event.2.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Тренировка  -->
                    <div class="p-b-25 m-r--10 m-r-0-sr991">
                        <div class="how2 how2-cl5 flex-s-c m-r-10 m-r-0-sr991">
                            <h3 class="f1-m-2 cl17 tab01-title">
                                <a href="{% url 'news_by_category' category='тренировка' %}" style="text-decoration: none; color: #00b5e9;">
                                      Тренировки ({{count_train}})
                            </a>
                            </h3>
                        </div>

                        <div class="row p-t-35">
                            <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                <!-- Item post -->
                                <div class="flex-wr-sb-s m-b-30">
                                    <a href="{% url 'single' news_train.0.id %}"
                                       class="size-w-1 wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_train.0.image.url }}" alt="IMG">
                                    </a>

                                    <div class="size-w-2">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_train.0.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_train.0.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_train.0.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_train.0.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>

                                <!-- Item post -->
                                <div class="flex-wr-sb-s m-b-30">
                                    <a href="{% url 'single' news_train.1.id %}"
                                       class="size-w-1 wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_train.1.image.url }}" alt="IMG">
                                    </a>

                                    <div class="size-w-2">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_train.1.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_train.1.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_train.1.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_train.1.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                <!-- Item post -->
                                <div class="flex-wr-sb-s m-b-30">
                                    <a href="{% url 'single' news_train.2.id %}"
                                       class="size-w-1 wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_train.2.image.url }}" alt="IMG">
                                    </a>

                                    <div class="size-w-2">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_train.2.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_train.2.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_train.2.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_train.2.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>

                                <!-- Item post -->
                                <div class="flex-wr-sb-s m-b-30">
                                    <a href="{% url 'single' news_train.3.id %}"
                                       class="size-w-1 wrap-pic-w hov1 trans-03">
                                        <img src="{{ news_train.3.image.url }}" alt="IMG">
                                    </a>

                                    <div class="size-w-2">
                                        <h5 class="p-b-5">
                                            <a href="{% url 'single' news_train.3.id %}"
                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                {{ news_train.3.header }}
                                            </a>
                                        </h5>

                                        <span class="cl8">
												<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
													{{ news_train.3.author }}
												</a>

												<span class="f1-s-3 m-rl-3">
													-
												</span>

												<span class="f1-s-3">
													{{ news_train.3.creation_day|date:"d M" }}
												</span>
											</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">


                    <!--Calendar  -->
                    <div class="p-b-55">
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                               <a href="{% url 'calendars' %}" style="text-decoration: none; color: #333;"> Календарь  </a>
                            </h3>
                        </div>

                        <div class="calendar f1-m-1" style="border:1px solid #00000066;">
                            <div class="calendar__picture" id="calendar-image">
                                <div class="calendar__top">
                                    <div class="calendar__date calendar_font" id="calendar-date"></div>
                                </div>

                                <div class="calendar__header" id="calendar-header" style="text-align: center;">
                                    <a id="event-link" href="/news/{{ event_id }}/" style="pointer-events: auto;">{{
                                        header }}</a>
                                </div>
                            </div>


                            <div class="calendar__date">
                                <div class="calendar__day">Пн</div>
                                <div class="calendar__day">Вт</div>
                                <div class="calendar__day">Ср</div>
                                <div class="calendar__day">Чт</div>
                                <div class="calendar__day">Пн</div>
                                <div class="calendar__day">Сб</div>
                                <div class="calendar__day">Вс</div>
                            </div>
                            {{ calendar|safe }}

                        </div>

                    </div>

                    <!-- Tag -->
                    <div class="p-b-55">
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Категории
                            </h3>
                        </div>

                        <div class="flex-wr-s-s m-rl--5">
                            <a href="{% url 'news_by_category' category='соревнования' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                Соревнования
                            </a>

                            <a href="{% url 'news_by_category' category='событие' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                События
                            </a>

                            <a href="{% url 'news_by_category' category='международные соревнования' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                Международные соревнования
                            </a>

                            <a href="{% url 'news_by_category' category='тренировка' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                Тренировки
                            </a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner-->
<!-- Banner
<div class="container m-t-10 m-b-15">
    <div class="flex-c-c">
        <a href="#">
            <img class="max-w-full" src="{% static 'images/banner-02.jpg' %}" alt="IMG">
        </a>
    </div>
</div>-->


<!-- Latest -->
<section class="bg0 p-t-60 p-b-40">
    <div class="container">
        <div class="how2 how2-cl4 flex-s-c">
            <h3 class="f1-m-2 cl3 tab01-title">
                Последние новости
            </h3>
        </div>

        <div class="row p-t-35">
            {% for news in latest_events %}
            <div class="col-sm-6 col-md-4">
                <!-- Item latest -->
                <div class="m-b-45">
                    <a href="{% url 'single' news.id %}" class="wrap-pic-w hov1 trans-03">
                        <img src="{{ news.image.url }}" alt="IMG">
                    </a>

                    <div class="p-t-16">
                        <h5 class="p-b-5">
                            <a href="{% url 'single' news.id %}" class="f1-m-3 cl2 hov-cl10 trans-03">
                                {{ news.header }}
                            </a>
                        </h5>

                        <span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{ news.author }}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ news.creation_day|date:"d M" }}
								</span>
							</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

</body>


{% endblock content %}