{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="animsition">

<!-- Breadcrumb -->
<div class="container">
    <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">

    </div>
</div>

<!-- Content -->
<section class="bg0 p-b-140 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">
                        <a class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
                            {{news.category}}
                        </a>

                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                            {{news.header}}
                        </h3>

                        <div class="flex-wr-s-s p-b-40">
								<span class="f1-s-3 cl8 m-r-15">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										Пост создан: {{news.author}}
									</a>

									<span class="m-rl-3">-</span>

									<span>
										{{news.creation_day}}
									</span>
								</span>

                        </div>

                        <div class="wrap-pic-max-w p-b-30">
                            <img src="{{news.image.url}}" alt="IMG">
                        </div>

                        <p class="f1-s-11 cl6 p-b-25">
                            {{news.description|safe}}
                        </p>


                        <!-- Share -->
                        <br>
                        <div class="flex-s-s">
								<span class="f1-s-12 cl5 p-t-1 m-r-15">
									Поделится:
								</span>

                            <div class="flex-wr-s-s size-w-0">
                                <a href="#" onclick="shareOnFacebook(); return false;"

                                   class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                    <i class="fab fa-facebook-f m-r-7"></i>
                                    Facebook
                                </a>

                                <a href="#" onclick="shareOnTwitter(); return false;"
                                   class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                    <i class="fab fa-twitter m-r-7"></i>
                                    Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-10 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-70">

                    <!--Calendar  -->
                    <div class="p-b-55">
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Календарь
                            </h3>
                        </div>

                        <div class="calendar f1-m-1" style="border:1px solid #00000066;">
                            <div class="calendar__picture" id="calendar-image">
                                <div class="calendar__top">
                                    <div class="calendar__date calendar_font" id="calendar-date"></div>
                                    <div class="calendar__time calendar_font" id="calendar-time"></div>
                                </div>

                                <div class="calendar__header" id="calendar-header" style="text-align: center;">
                                    <a id="event-link" href="/news/{{ event_id }}/" style="pointer-events: auto;">{{
                                        header }}</a>
                                </div>
                            </div>


                            <div class="calendar__date">
                                <div class="calendar__day">Пн</div>
                                <div class="calendar__day">Вт</div>
                                <div class="calendar__day">Ср</div>
                                <div class="calendar__day">Чт</div>
                                <div class="calendar__day">Пн</div>
                                <div class="calendar__day">Сб</div>
                                <div class="calendar__day">Вс</div>
                            </div>
                            {{ calendar|safe }}

                        </div>

                    </div>

                    <!-- Popular Posts -->
                    <div class="p-b-30">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Последние новости
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="{% url 'single' news_all.0.id %}" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{{ news_all.0.image.url }}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            {{ news_all.0.header }}
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{ news_all.0.author }}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ news_all.0.creation_day|date:"d M" }}
											</span>
										</span>
                                </div>
                            </li>

                            <li class="flex-wr-sb-s p-b-30">
                                <a href="{% url 'single' news_all.1.id %}" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{{ news_all.1.image.url }}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            {{ news_all.1.header }}
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{ news_all.1.author }}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ news_all.1.creation_day|date:"d M" }}
											</span>
										</span>
                                </div>
                            </li>

                            <li class="flex-wr-sb-s p-b-30">
                                <a href="{% url 'single' news_all.2.id %}" class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{{ news_all.2.image.url }}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="blog-detail-02.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                            {{ news_all.2.header }}
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{ news_all.2.author }}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ news_all.0.creation_day|date:"d M" }}
											</span>
										</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Tag -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Категории
                            </h3>
                        </div>

                        <div class="flex-wr-s-s m-rl--5">
                            <a href="{% url 'news_by_category' category='соревнования' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                Соревнования
                            </a>

                            <a href="{% url 'news_by_category' category='событие' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                События
                            </a>

                            <a href="{% url 'news_by_category' category='международные соревнования' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                Международные соревнования
                            </a>

                            <a href="{% url 'news_by_category' category='тренировка' %}"
                               class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                Тренировки
                            </a>

                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
function shareOnFacebook() {
    var currentURL = window.location.href;
    var shareURL = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(currentURL);
    window.open(shareURL, '_blank');
}
</script>
<script>
function shareOnTwitter() {
    var currentURL = window.location.href;
    var shareURL = 'https://twitter.com/share?url=' + encodeURIComponent(currentURL);
    window.open(shareURL, '_blank');
}
</script>
</body>
{% endblock content %}