{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="animsition">

<!-- Content -->
<section class="bg0 p-b-140 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">
                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                            {{news.header}}
                        </h3>

                        <div class="flex-wr-s-s p-b-40">
								<span class="f1-s-3 cl8 m-r-15">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
										Создатель: {{news.author}}
									</a>

									<span class="m-rl-3">-</span>

									<span>
										{{news.creation_day}}
									</span>

                                    <span>
										Категория - {{news.category}}
									</span>
								</span>
                        </div>


                        <p class="f1-s-11 cl6 p-b-25">
                            {{news.description|safe}}
                        </p>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg0 p-t-60 p-b-40">
    <div class="container">
        <div class="how2 how2-cl4 flex-s-c">
            <h3 class="f1-m-2 cl3 tab01-title">
                Последние новости
            </h3>
        </div>

        <div class="row p-t-35">
            {% for news in popular_event %}
            <div class="col-sm-6 col-md-4">
                <!-- Item latest -->
                <div class="m-b-45">
                    <a href="{% url 'single' news.id %}" class="wrap-pic-w hov1 trans-03">
                        <img src="{{ news.image.url }}" alt="IMG">
                    </a>

                    <div class="p-t-16">
                        <h5 class="p-b-5">
                            <a href="{% url 'single' news.id %}" class="f1-m-3 cl2 hov-cl10 trans-03">
                                {{ news.header }}
                            </a>
                        </h5>

                        <span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{ news.author }}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ news.creation_day|date:"d M" }}
								</span>
							</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<script>
function shareOnFacebook() {
    var currentURL = window.location.href;
    var shareURL = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(currentURL);
    window.open(shareURL, '_blank');
}
</script>
<script>
function shareOnTwitter() {
    var currentURL = window.location.href;
    var shareURL = 'https://twitter.com/share?url=' + encodeURIComponent(currentURL);
    window.open(shareURL, '_blank');
}
</script>
</body>
{% endblock content %}